@using RegistanFerghanaLC.Service.ViewModels.StudentViewModels;
@model StudentViewModel;

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="@Model.Image"><span class="font-weight-bold">@Model.FirstName @Model.LastName</span><span class="text-black-50">@Model.PhoneNumber</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Student Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="@Model.FirstName"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="@Model.LastName" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="@Model.PhoneNumber"></div>
                    <div class="col-md-12"><label class="labels">Subject</label><input type="text" class="form-control" placeholder="enter subject" value="@{string.Join(", ", Model.Subjects);}"></div>
                    <div class="col-md-12"><label class="labels">Birth Date</label><input type="text" class="form-control" placeholder="enter birth date" value="@Model.BirthDate"></div>
                    <div class="col-md-12"><label class="labels">Created at</label><input type="text" class="form-control" placeholder="creation date" value="@Model.CreatedAt"></div>
                    <div class="col-md-12"><label class="labels">Weekly limit</label><input type="text" class="form-control" placeholder="weekly limit" value="@Model.WeeklyLimit"></div>
                    <div class="col-md-12"><label class="labels">Level</label><input type="text" class="form-control" placeholder="enter a level" value="@Model.StudentLevel"></div>
                    
                </div>
                @*<div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>*@
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>*@
    </div>
</div>
