@using RegistanFerghanaLC.Service.Common.Utils;
@using RegistanFerghanaLC.Service.Dtos.FileViewModels;
@using RegistanFerghanaLC.Service.ViewModels.StudentViewModels;
@model FileModeldto
@{
    ViewBag.Tab = 3;
}

<div class="card card-flush">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <form data-kt-search-element="form" class="justify-content-end position-relative mb-5 border border-gray-300" autocomplete="off" style="border-color:#fff;border-radius:7px;">
                <input type="hidden" />
                <span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute ms-4 top-50  translate-middle-y">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="#7239EA"></rect>
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="#7239EA"></path>
                    </svg>
                </span>
                <input type="text" class="form-control form-control-lg form-control-solid px-15"
                    name="search"
                    value="@ViewBag.AdminStudentSearch"
                    placeholder="Search ..."
                    data-kt-search-element="input" />
                </form>
        </div>
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <a asp-controller="AdminStudent" asp-action="RegisterStudent" class="btn btn-registan">
                Add Student
            </a>

            <div class="d-flex align-items-center" id="kt_header_user_menu_toggle">
                <a class="btn btn-success" id="dropdownExcelFile" asp-area="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Import
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownExcelFile">
                    <div class="separator my-2"></div>
                    <div class="menu-item px-5">
                        <a class="menu-link px-5 fw-bold text-dark text-hover-info fs-7" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Upload
                        </a>
                    </div>

                    <div class="menu-item px-5 my-1">
                        <a class="menu-link px-5 fw-bold text-dark text-hover-info fs-7" asp-area="" asp-controller="adminstudents" asp-action="export">Save</a>
                    </div>
                    <div class="menu-item px-5">
                        <a class="menu-link px-5 fw-bold text-dark text-hover-info fs-7" asp-area="" asp-controller="adminstudents" asp-action="duplicate">Get a duplicate</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form asp-area="" asp-controller="adminstudents" asp-action="import" method="post" enctype="multipart/form-data">
                                <label class="text-style fw-bold text-gray-800 ms-3">Select an Excel file</label>
                                <div class="menu-item px-5 my-5"></div>
                                <input type="file" asp-for="File" class="form-control form-control-lg form-control-solid" />
                                <div class="menu-item px-5 my-5"></div>
                                <input type="submit" value="Import" class="form-control form-control-lg form-control-solid" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Add product-->
        </div>
     </div>

    <div class="card-body pt-0">
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                            <th class="text-start min-w-50px">ID</th>
                            <th class="text-start min-w-200px">STUDENT (F.L)</th>
                            <th class="text-start min-w-100px">PHONE NUMBER</th>
                            <th class="text-start min-w-100px">WEEKLY LIMIT</th>
                            <th class="text-start min-w-100px">SUBJECT</th>
                            <th class="text-start min-w-100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-800">
                        @if(Model != null)
                        {
                            @foreach (var student in Model.Students)
                            {
                                <tr class="tr-shadow text-dark">
                                    <td class="text-start px-sm-0">
                                        <span class="fw-bold">@student.Id</span>
                                    </td>
                                    <td class="text-start px-sm-0 d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                            <a>
                                                <div class="symbol-label">
                                                    @if (String.IsNullOrEmpty(@student.Image))
                                                    {
                                                        @if (student.LastName.EndsWith("a"))
                                                        {
                                                            <img src="~/media/avatars/150-7.jpg" alt="Emma Smith" class="w-100">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/media/avatars/150-2.jpg" alt="Emma Smith" class="w-100" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <img src="~/@student.Image" alt="Emma Smith" class="w-100">
                                                    }
                                                    <img src="~" alt="Emma Smith" class="w-100">
                                                </div>
                                            </a>
                                        </div>
                                        <span class="fw-bold text-hover-info text-gray-800 ms-3">@student.FirstName @student.LastName</span>
                                    </td>
                                    <td class="text-start">
                                        <span class="fw-bold px-sm-0 text-gray-500">@student.PhoneNumber</span>
                                    </td>
                                    <td class="text-start">
                                        <span class="fw-bold px-sm-0 text-gray-500">@student.WeeklyLimit</span>
                                    </td>
                                    <td class="text-start">
                                        @if(student.Subjects?.Count() !=0)
                                        {
                                            <span class="fw-bold text-gray-500">
                                                @student.Subjects?.First()
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="fw-bold text-gray-500">
                                                No subject yet!
                                            </span>
                                        }
                                    </td>
                                    <td class="text-start">
                                        <a class="btn btn-icon btn-warning" asp-controller="AdminStudent" asp-action="update" asp-route-id="@student.Id">
                                            <span class="svg-icon svg-icon-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                                                        <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="btn btn-icon btn-danger" asp-controller="AdminStudent" asp-action="delete" asp-route-id="@student.Id">
                                            <span class="svg-icon svg-icon-1">
                                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.3" d="M19.5997 3.52344H2.39639C2.09618 3.53047 1.8003 3.59658 1.52565 3.718C1.25101 3.83941 1.00298 4.01375 0.79573 4.23106C0.588484 4.44837 0.426087 4.70438 0.317815 4.98447C0.209544 5.26456 0.157521 5.56324 0.164719 5.86344C0.157521 6.16364 0.209544 6.46232 0.317815 6.74241C0.426087 7.0225 0.588484 7.27851 0.79573 7.49581C1.00298 7.71312 1.25101 7.88746 1.52565 8.00888C1.8003 8.1303 2.09618 8.19641 2.39639 8.20344H19.5997C19.8999 8.19641 20.1958 8.1303 20.4704 8.00888C20.7451 7.88746 20.9931 7.71312 21.2004 7.49581C21.4076 7.27851 21.57 7.0225 21.6783 6.74241C21.7866 6.46232 21.8386 6.16364 21.8314 5.86344C21.8386 5.56324 21.7866 5.26456 21.6783 4.98447C21.57 4.70438 21.4076 4.44837 21.2004 4.23106C20.9931 4.01375 20.7451 3.83941 20.4704 3.718C20.1958 3.59658 19.8999 3.53047 19.5997 3.52344Z" fill="currentColor" fill-opacity="0.8" />
                                                    <path d="M2.39453 8.20361L4.01953 18.3111C4.15644 19.145 4.58173 19.9043 5.22121 20.4567C5.8607 21.009 6.6738 21.3194 7.5187 21.3336H14.5712C15.4215 21.3202 16.2395 21.006 16.8801 20.4468C17.5207 19.8875 17.9424 19.1193 18.0704 18.2786L19.5979 8.20361H2.39453ZM9.28453 16.3178C9.28453 16.5333 9.19893 16.7399 9.04656 16.8923C8.89418 17.0447 8.68752 17.1303 8.47203 17.1303C8.25654 17.1303 8.04988 17.0447 7.89751 16.8923C7.74513 16.7399 7.65953 16.5333 7.65953 16.3178V12.4069C7.65953 12.1915 7.74513 11.9848 7.89751 11.8324C8.04988 11.68 8.25654 11.5944 8.47203 11.5944C8.68752 11.5944 8.89418 11.68 9.04656 11.8324C9.19893 11.9848 9.28453 12.1915 9.28453 12.4069V16.3178ZM14.322 16.3178C14.322 16.5333 14.2364 16.7399 14.0841 16.8923C13.9317 17.0447 13.725 17.1303 13.5095 17.1303C13.294 17.1303 13.0874 17.0447 12.935 16.8923C12.7826 16.7399 12.697 16.5333 12.697 16.3178V12.4069C12.697 12.1915 12.7826 11.9848 12.935 11.8324C13.0874 11.68 13.294 11.5944 13.5095 11.5944C13.725 11.5944 13.9317 11.68 14.0841 11.8324C14.2364 11.9848 14.322 12.1915 14.322 12.4069V16.3178Z" fill="currentColor" fill-opacity="0.8" />
                                                    <path d="M17.3895 4.87755C17.2529 4.87776 17.1185 4.84303 16.999 4.77667C16.8796 4.71031 16.7791 4.61452 16.707 4.49839L14.5945 1.24839C14.488 1.07063 14.4544 0.858502 14.5009 0.656521C14.5473 0.45454 14.6702 0.2784 14.8437 0.165055C15.0215 0.0626479 15.2311 0.0303209 15.4315 0.0744071C15.6319 0.118493 15.8086 0.235816 15.927 0.403388L18.0395 3.70755C18.1434 3.88599 18.1755 4.09728 18.1292 4.2985C18.0829 4.49972 17.9618 4.67577 17.7904 4.79089C17.6659 4.85225 17.5282 4.88202 17.3895 4.87755Z" fill="currentColor" fill-opacity="0.8" />
                                                    <path d="M4.49988 4.8885C4.34679 4.8928 4.19591 4.85131 4.06655 4.76933C3.89514 4.65422 3.77399 4.47817 3.72771 4.27694C3.68143 4.07572 3.71349 3.86443 3.81738 3.686L5.98405 0.435999C6.09739 0.262485 6.27353 0.13961 6.47551 0.0931545C6.6775 0.0466989 6.88962 0.0802727 7.06738 0.186832C7.23676 0.303623 7.35627 0.479597 7.40239 0.680101C7.4485 0.880606 7.41788 1.09111 7.31655 1.27017L5.20405 4.52017C5.12881 4.63747 5.0243 4.73313 4.90082 4.79773C4.77733 4.86232 4.63914 4.8936 4.49988 4.8885Z" fill="currentColor" fill-opacity="0.8" />
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="btn btn-icon btn-info" asp-controller="AdminStudent" asp-action="getbyid" asp-route-id="@student.Id">
                                            <span class="svg-icon svg-icon-1 svg-icon-info">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="4" fill="currentColor" />
                                                    <rect x="11" y="11" width="2.6" height="2.6" rx="1.3" fill="currentColor" />
                                                    <rect x="15" y="11" width="2.6" height="2.6" rx="1.3" fill="currentColor" />
                                                    <rect x="7" y="11" width="2.6" height="2.6" rx="1.3" fill="currentColor" />
                                                </svg>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-5 mx-5">
        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
        </div>
        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
            <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
                @{
                    if (Model.Students.MetaData.TotalPages > 1 && Model.Students.MetaData.CurrentPage <= Model.Students.MetaData.TotalPages)
                    {
                        <ul class="pagination pagination-outline">
                            @{
                                if (@Model.Students.MetaData.HasPrevious)
                                {
                                    <li class="page-item previous m-1">
                                        <a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@(Model.Students.MetaData.CurrentPage-1)" class="page-link"><i class="previous"></i></a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item previous disabled m-1">
                                        <a href="#" class="page-link"><i class="previous"></i></a>
                                    </li>
                                }
                                if (Model.Students.MetaData.TotalPages > 5)
                                {
                                    if (Model.Students.MetaData.CurrentPage == 1)
                                    {
                                        <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="1" class="page-link">1</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="1" class="page-link">1</a></li>
                                    }
                                    if (Model.Students.MetaData.CurrentPage < 4)
                                    {
                                        if (2 == Model.Students.MetaData.CurrentPage)
                                        {
                                            <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="2" class="page-link">2</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="2" class="page-link">2</a></li>
                                        }
                                        if (3 == Model.Students.MetaData.CurrentPage)
                                        {
                                            <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="3" class="page-link">3</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="3" class="page-link">3</a></li>
                                        }
                                        <li class="page-item disabled m-1"><a class="page-link">...</a></li>
                                    }
                                    else if (Model.Students.MetaData.CurrentPage >= Model.Students.MetaData.TotalPages - 2)
                                    {
                                        <li class="page-item disabled"><a class="page-link">...</a></li>
                                        if (Model.Students.MetaData.TotalPages - 2 == Model.Students.MetaData.CurrentPage)
                                        {
                                            <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@(Model.Students.MetaData.TotalPages -2)" class="page-link">@(Model.Students.MetaData.TotalPages - 2)</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@(Model.Students.MetaData.TotalPages -2)" class="page-link">@(Model.Students.MetaData.TotalPages - 2)</a></li>
                                        }
                                        if (Model.Students.MetaData.TotalPages - 1 == Model.Students.MetaData.CurrentPage)
                                        {
                                            <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@(Model.Students.MetaData.TotalPages -1)" class="page-link">@(Model.Students.MetaData.TotalPages - 1)</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@(Model.Students.MetaData.TotalPages -1)" class="page-link">@(Model.Students.MetaData.TotalPages - 1)</a></li>
                                        }
                                    }
                                    else if (Model.Students.MetaData.CurrentPage >= 4 && Model.Students.MetaData.CurrentPage < Model.Students.MetaData.TotalPages - 2)
                                    {
                                        <li class="page-item disabled m-1"><a class="page-link">...</a></li>

                                        <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@Model.Students.MetaData.CurrentPage" class="page-link">@Model.Students.MetaData.CurrentPage</a></li>

                                        <li class="page-item disabled m-1"><a class="page-link">...</a></li>
                                    }
                                    if (Model.Students.MetaData.TotalPages == Model.Students.MetaData.CurrentPage)
                                    {
                                        <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@Model.Students.MetaData.TotalPages" class="page-link">@Model.Students.MetaData.TotalPages</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@Model.Students.MetaData.TotalPages" class="page-link">@Model.Students.MetaData.TotalPages</a></li>
                                    }
                                }
                                else
                                {
                                    for (int _page = 1; _page <= Model.Students.MetaData.TotalPages; _page++)
                                    {

                                        if (_page == Model.Students.MetaData.CurrentPage)
                                        {
                                            <li class="page-item active m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@_page" class="page-link">@_page</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@_page" class="page-link">@_page</a></li>
                                        }
                                    }
                                }
                                if (Model.Students.MetaData.HasNext)
                                {
                                    <li class="page-item next m-1"><a asp-controller="AdminStudent" asp-action="Index" asp-route-page="@(Model.Students.MetaData.CurrentPage + 1)" class="page-link"><i class="next"></i></a></li>
                                }
                                else
                                {
                                    <li class="page-item next disabled m-1"><a href="#" class="page-link"><i class="next"></i></a></li>
                                }
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</div>
